@{
    ViewBag.Title = "Index";
    @*<script src="~/Scripts/jquery-3.6.0.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Services.js"></script>
    <link href="~/Content/MyModal.css" rel="stylesheet" />
}
<article>
    <div class="header">
        <div class="left">
            <div class="crumbs">
                <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Index", "Dashboard", null, Request.Url.Scheme, null) +"?id=1")">@EServicesCms.Common.DbManager.GetText("Services", "lblMenuDashboard", "Dashboard")</a>
                <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("ServiceEntities", "Services", null, Request.Url.Scheme, null) +"?id=1")"><h1 class="title">@EServicesCms.Common.DbManager.GetText("Services", "lblManageServiceEntities", "Manage Service Entities")</h1></a>
            </div>
        </div>
    </div>
    <div class="content p20">
        <div class="tabs material">
            <div class="tab_heads jcc mb10">
                <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Index", "Services", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("Services", "lblServices", "Services")</a>
                <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("ServiceEntities", "Services", null, Request.Url.Scheme, null) +"?id=1")" class="tab on">@EServicesCms.Common.DbManager.GetText("Services", "lblServiceEntities", "Service Entities")</a>
                <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("ServiceTypes", "Services", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("Services", "lblServiceTypes", "Service Types")</a>
            </div>
            <div class="tab_body">

            </div>
        </div>
        <div class="cards tac row" id="dvData">
            @{
                if (EServicesCms.Common.Security.isUserAuthorized("MOF_ESRV_ADMIN") == true)
                {
                    <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
                        <a id="myBtn" class="card p30">
                            <div class="icon add"></div>
                            <div class="title">
                                @EServicesCms.Common.DbManager.GetText("Services", "lblAddServiceEntity", "ADD NEW ENTITY")
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
    <input id="ajaxUrl" type="hidden" value="@Url.Action("AjaxGetServiceEntities", "Services")" />
    <input id="changeSortOrderUrl" type="hidden" value="@Url.Action("ChangeSortOrder", "ServiceGuide")" />
</article>

<div id="dvForm" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <h2>@EServicesCms.Common.DbManager.GetText("Services", "lblServiceEntity", "Service Entity")</h2>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-horizontal">

                            <div class="form-group" style="display:none;">
                                <label for="" class="col-sm-3 control-label smallText">Code</label>
                                <div class="col-sm-6 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-info"></i></span>
                                    <input type="text" class="form-control" id="Code" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("Services", "lblEntitiesTitleEn", "Title (EN)") <span class="mRed">*</span></label>
                                <div class="col-sm-8 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('DescriptionEng');" onblur="stripHtmlToText('DescriptionEng');" placeholder="" class="form-control" id="DescriptionEng" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("Services", "lblDescriptionEn", "Description (EN)") <span class="mRed">*</span></label>
                                <div class="col-sm-8 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('RemarksEng');" onblur="stripHtmlToText('RemarksEng');" placeholder="" class="form-control" id="RemarksEng" required />
                                </div>
                            </div>

                        </div>
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("Services", "lblEntitiesTitleAr", "Title (AR)") <span class="mRed">*</span></label>
                                <div class="col-sm-8 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('DescriptionAlt');" onblur="stripHtmlToText('DescriptionAlt');" placeholder="" class="form-control" id="DescriptionAlt" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("Services", "lblDescriptionAr", "Description (Ar)") <span class="mRed">*</span></label>
                                <div class="col-sm-8 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('RemarksAlt');" onblur="stripHtmlToText('RemarksAlt');" placeholder="" class="form-control" id="RemarksAlt" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("Services", "lblClassName", "CssClass") <span class="mRed">*</span></label>
                                <div class="col-sm-8 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('ClassName');" onblur="stripHtmlToText('ClassName');" placeholder="" class="form-control" id="ClassName" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" align="center">
                        <div class="col-md-12">
                            <button type="button" id="btnSave" class="btn btn-sm btn-warning" onclick="SaveServiceEntities();"><i class="ace-icon fa fa-save"></i> @EServicesCms.Common.DbManager.GetText("Services", "lblSave", "Save")</button>
                            <button type="button" id="btnClose" onclick="CloseForm();" class="btn btn-sm btn-danger"><i class="ace-icon fa fa-remove"></i> @EServicesCms.Common.DbManager.GetText("Services", "lblClose", "Close")</button>
                            <input id="saveUrl" type="hidden" value="@Url.Action("AjaxSaveServiceEntities", "Services")" />
                            <input id="deleteUrl" type="hidden" value="@Url.Action("AjaxDeleteServiceEntities", "Services")" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var language = "@EServicesCms.Common.Helper.CurrentLanguage()";

    GetServiceEntites();
    var modal = document.getElementById("dvForm");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    if (btn != null) {
        btn.onclick = function () {
            modal.style.display = "block";
        }
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    @Html.Raw(ViewBag.PageAlertCodes);
</script>

