@{
    ViewBag.Title = "Index";
    @*<script src="~/Scripts/jquery-3.6.0.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ServiceGuideVideos.js"></script>
    <link href="~/Content/MyModal.css" rel="stylesheet" />
}
<article>
    <div class="header">
        <div class="left">
            <div class="crumbs">
                <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Index", "Dashboard", null, Request.Url.Scheme, null) +"?id=1")"><h1 class="title">@EServicesCms.Common.DbManager.GetText("Dashboard", "lblTitle", "Dashboard")</h1></a>
                <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Index", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblManageServiceGuide", "Service Guide")</a>
            </div>
        </div>
        <div class="right">
            <div class="filters">
                @{
                    if (EServicesCms.Common.Security.isUserAuthorized("MOF_ESRV_GUIDE_PULL") == true)
                    {
                        <button class="main" type="button" onclick="PublishCards();">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblPublishCards", "Pull Aris Data")</button>
                    }
                }
                @{
                    if (EServicesCms.Common.WebConfig.GetIntValue("ServiceGuide_CacheMode") == 1 && EServicesCms.Common.Security.isUserAuthorized("MOF_ESRV_GUIDE_PUSH") == true)
                    {
                        <button class="main" type="button" onclick="Publish();">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblPublish", "Publish Guide")</button>
                    }
                }
            </div>
        </div>
    </div>
    <div class="sub_header" style="padding: 10px 0;">
        <div class="page_wrap">
            <h2>@EServicesCms.Common.DbManager.GetText("Services", "lblHeadingSGVdo", "SERVICE GUIDE VIDEOS")</h2>
            <input type="hidden" id="gridUrl" value="@Url.Action("GetVideoCards", "ServiceGuide")" />
            <input type="hidden" id="publishUrl" value="@Url.Action("PublishContent", "ServiceGuide")" />
            <input id="changeSortOrderUrl" type="hidden" value="@Url.Action("ChangeSortOrder", "ServiceGuide")" />
            <input type="hidden" id="publishCardsUrl" value="@Url.Action("PublishServiceCardsContent", "ServiceGuide")" />
        </div>
    </div>
    <div class="tabs material">
        <div class="tab_heads jcc mb10">
            <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Index", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblCharts", "Personalization")</a>
            <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Content", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblHeader", "Content")</a>
            <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Beneficiaries", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("Services", "lblBeneficiaries", "Beneficiaries")</a>
            <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Types", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("Services", "lblServiceTypes", "Types")</a>

            <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Procedures", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblProcedures", "Procedures")</a>
            <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Channels", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblChannels", "Channels")</a>
            <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Support", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblSupport", "Support")</a>
            <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("FAQ", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblFAQ", "FAQ")</a>
            <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Videos", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")" class="tab on">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblVideos", "Videos")</a>
            @*<a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Hints", "ServiceGuide", null, Request.Url.Scheme, null) +"?id=1")" class="tab">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblHints", "Hints")</a>*@
        </div>
    </div>
    @{

        <div class="content p20">
            <div class="cards tac row" id="dvData">
                @if (EServicesCms.Common.Security.isUserAuthorized("MOF_ESRV_GUIDE_ADD_VIDEO") == true)
                {
                    <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
                        <a id="myBtn" class="card p30">
                            <div class="icon add"></div>
                            <div class="title">
                                @EServicesCms.Common.DbManager.GetText("Lookup", "lblAddLookup", "ADD NEW")
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
</article>
<div id="dvForm" class="modal">
    <div class="modal-dialog">
        <div class="modal-content2">
            <h2>@EServicesCms.Common.DbManager.GetText("Services", "lblHeadingSGVdo", "SERVICE GUIDE VIDEOS")</h2>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblSelectType", "Select Type") <span class="mRed">*</span></label>
                                <div class="col-sm-6 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    @Html.DropDownList("TypeId", ViewBag.Types as SelectList, EServicesCms.Common.DbManager.GetText("ServiceGuide", "lblSelectType", "Select Type"), new { id = "TypeId", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-horizontal">

                            <div class="form-group" style="display:none;">
                                <label for="" class="col-sm-3 control-label smallText">Code</label>
                                <div class="col-sm-12 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-info"></i></span>
                                    <input type="text" class="form-control" id="Code" />
                                    <input type="text" class="form-control" id="SortOrder" />
                                    <input type="hidden" id="saveUrl" value="@Url.Action("SaveVideos", "ServiceGuide")" />
                                    <input type="hidden" id="getUrl" value="@Url.Action("GetVideos", "ServiceGuide")" />
                                    <input type="hidden" id="deleteUrl" value="@Url.Action("DeleteVideos", "ServiceGuide")" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "TitleEng", "Title (EN)") <span class="mRed">*</span></label>
                                <div class="col-sm-12 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('TitleEng');" onblur="stripHtmlToText('TitleEng');" class="form-control" id="TitleEng" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "UrlEng", "Url (EN)") <span class="mRed">*</span></label>
                                <div class="col-sm-12 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('UrlEng');" onblur="stripHtmlToText('UrlEng');"  class="form-control" id="UrlEng" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("Services", "lblDescriptionEn", "Description (EN)")</label>
                                <div class="col-sm-12 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <textarea dir="ltr" id="DescriptionEng" name="DescriptionEng" rows="2" onkeypress="stripHtmlToText('DescriptionEng');" onblur="stripHtmlToText('DescriptionEng');"></textarea>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "TitleAlt", "Title (AR)") <span class="mRed">*</span></label>
                                <div class="col-sm-12 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('TitleAlt');" onblur="stripHtmlToText('TitleAlt');"  class="form-control" id="TitleAlt" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("ServiceGuide", "UrlAlt", "URl (AR)") <span class="mRed">*</span></label>
                                <div class="col-sm-12 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('UrlAlt');" onblur="stripHtmlToText('UrlAlt');"  class="form-control" id="UrlAlt" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("Services", "lblDescriptionAr", "Description (AR)")</label>
                                <div class="col-sm-12 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <textarea dir="rtl" id="DescriptionAlt" name="DescriptionAlt" rows="2" onkeypress="stripHtmlToText('DescriptionAlt');" onblur="stripHtmlToText('DescriptionAlt');"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row" align="center">
                        <div class="col-md-12">
                            <button type="button" id="btnSave" class="btn btn-sm btn-warning" onclick="SaveVideos();"><i class="ace-icon fa fa-save"></i> @EServicesCms.Common.DbManager.GetText("Lookup", "lblSave", "Save")</button>
                            <button type="button" id="btnClose" onclick="CloseForm();" class="btn btn-sm btn-danger"><i class="ace-icon fa fa-remove"></i> @EServicesCms.Common.DbManager.GetText("Lookup", "lblClose", "Close")</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var language = "@EServicesCms.Common.Helper.CurrentLanguage()";
    var modal = document.getElementById("dvForm");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    if (btn != null) {
        btn.onclick = function () {
            modal.style.display = "block";
            $('#pageBody').setAttribute("style"," overflow:hidden;");
            clearSubInput();
        }
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            clearSubInput();
            modal.style.display = "none";
        }
    }
    GetServiceGuideVideos();
    @Html.Raw(ViewBag.PageAlertCodes);
</script>