@{
    ViewBag.Title = "Index";
    @*<script src="~/Scripts/jquery-3.6.0.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Lookup.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.shortcuts.js"></script>
    <link href="~/Content/MyModal.css" rel="stylesheet" />
}
<article>
    <div class="header">
        <div class="left">
            <div class="crumbs">
                <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Index", "Dashboard", null, Request.Url.Scheme, null) +"?id=1")">@EServicesCms.Common.DbManager.GetText("Lookup", "lblMenuDashboard", "Dashboard")</a>
                <a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Index", "Lookup", null, Request.Url.Scheme, null) +"?id=1")"><h1 class="title">@EServicesCms.Common.DbManager.GetText("Lookup", "lblManageLookUp", "Manage Lookups")</h1></a>
                @*<a href="@EServicesCms.Common.Helper.URL_Encode(Url.Action("Labels", "Lookup", null, Request.Url.Scheme, null) +"?id=1")"><h1 class="title">@EServicesCms.Common.DbManager.GetText("Lookup", "lblLabels", "Labels")</h1></a>*@
            </div>
        </div>
    </div>
    @{

        <div class="content p20">
            <div class="cards tac row" id="dvData">
                @if (EServicesCms.Common.Security.isUserAuthorized("MOF_ESRV_ADD_LOOKUP") == true)
                {
                    <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
                        <a id="myBtn" class="card p30">
                            <div class="icon add"></div>
                            <div class="title">
                                @EServicesCms.Common.DbManager.GetText("Lookup", "lblAddLookup", "ADD NEW LOOKUP")
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    }

</article>
<input id="ajaxUrl" type="hidden" value="@EServicesCms.Common.Helper.URL_Encode(Url.Action("AjaxGetLkLookup", "Lookup", null, Request.Url.Scheme, null) +"?id=1")" />
<div id="dvForm" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <h2>@EServicesCms.Common.DbManager.GetText("Lookup", "lblManageLookUp", "Manage Lookups")</h2>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-horizontal">

                            <div class="form-group" style="display:none;">
                                <label for="" class="col-sm-3 control-label smallText">Code</label>
                                <div class="col-sm-6 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-info"></i></span>
                                    <input type="text" class="form-control" id="Code" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("Lookup", "lblDescriptionEn", "Description") <span class="mRed">*</span></label>
                                <div class="col-sm-8 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('DescriptionEng');" onblur="stripHtmlToText('DescriptionEng');" placeholder="" class="form-control" id="DescriptionEng" required />
                                </div>
                            </div>

                            <div class="form-group" style="display:none;">
                                <label for="" class="col-sm-3 control-label smallText">@EServicesCms.Common.DbManager.GetText("Lookup", "lblDescriptionAr", "Description (AR)") <span class="mRed">*</span></label>
                                <div class="col-sm-8 input-group">
                                    <span class="input-group-addon"><i class="ace-icon fa fa-pencil"></i></span>
                                    <input type="text" onkeypress="stripHtmlToText('DescriptionAlt');" onblur="stripHtmlToText('DescriptionAlt');" placeholder="" class="form-control" id="DescriptionAlt" required />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row" align="center">
                        <div class="col-md-12">
                            <button type="button" id="btnSave" class="btn btn-sm btn-warning" onclick="SaveLookup();"><i class="ace-icon fa fa-save"></i> @EServicesCms.Common.DbManager.GetText("Lookup", "lblSave", "Save")</button>
                            <button type="button" id="btnClose" onclick="CloseForm();" class="btn btn-sm btn-danger"><i class="ace-icon fa fa-remove"></i> @EServicesCms.Common.DbManager.GetText("Lookup", "lblClose", "Close")</button>
                            <input id="saveUrl" type="hidden" value="@EServicesCms.Common.Helper.URL_Encode(Url.Action("AjaxSaveLookup", "Lookup", null, Request.Url.Scheme, null) +"?id=1")" />
                            <input id="deleteUrl" type="hidden" value="@Url.Action("AjaxDeleteLookup", "Lookup")" />
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var language = "@EServicesCms.Common.Helper.CurrentLanguage()";
    @Html.Raw(ViewBag.PageAlertCodes);
    $("#aLabels").hide();
    GetLookup();
    var modal = document.getElementById("dvForm");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    if (btn != null) {
        btn.onclick = function () {
            modal.style.display = "block";
        }
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    $.Shortcuts.add({
        type: 'hold',
        mask: 'Shift+Up',
        handler: function () {
            $("#aLabels")[0].click();
        },
        list: 'first,second'
    });
</script>

